%nav.navbar.navbar-custom.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar",
                                      "aria-expanded" => "false",
                                      "data-target" => "#navbar",
                                      "data-toggle" => "collapse",
                                      :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand Fast Pizza
    #navbar.collapse.navbar-collapse.navbar-main-collapse
      .navbar-left
        %ul.nav.navbar-nav
          %li
            %a{href: '/'}= t('header.home')
      .navbar-right
        %ul.nav.navbar-nav
          %li.cart
            %a Item
