/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

html {
  padding-top: 100px;
}

.page-pagination {
  text-align: center;
}

ol {
  padding-left: 15px;
}

.btn{
    margin-right:10px;
}

.carousel-control {
  background-image: none !important;
  color: black;
  &:hover   { color: gray; }
  &:active  { color: gray; }
  &:focus   { color: gray; }
}

.left.carousel-control {
  margin-left: -100px;
}

.right.carousel-control {
  margin-right: -100px;
}

#carousel__index {
  margin-top:  100px;
}
