html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

footer {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 80px;
}
